 <div class="main-footer d-flex align-items-center justify-content-center">
    <div class="d-lg-block d-none">
        <img src="/_content/Root/images/footer-img.png" alt="" width="100%">
    </div>
    <div class="d-block d-lg-none">
        <img src="/_content/Root/images/m-footer-img.png" alt="" width="100%">
    </div>
</div>
