@inject NavigationManager NavigationManager
<div class="main-header d-flex justify-content-between align-items-center">
    <div @onclick="BackToLogin">
        <img src="/_content/Root/images/logo.png" alt="">
    </div>
    <div class="d-flex align-items-center gap-3">
        <div class="d-flex flex-column align-items-center">
            <p class="mb-0"><img src="/_content/Root/icons/profile_Icon.png" alt=""></p>
            <p class="mb-0">Megha</p>
        </div>
        <div class="d-flex flex-column align-items-center">
            <p class="mb-0"><img src="/_content/Root/icons/logout_Icon.png" alt=""></p>
            <p class="mb-0">Logout</p>
        </div>
    </div>
</div>

@code {
    private void BackToLogin()
    {
        NavigationManager.NavigateTo("/");
    }
}