@inherits LayoutComponentBase

<div class="page" style="height: 100vh">
    <main>
        <Header></Header>
        <article class="main-bg">
            <div class="h-100">
                @Body
            </div>
        </article>
        <Footer></Footer>
    </main>
</div>

