@page "/home"
@inject NavigationManager NavigationManager

<div class="d-flex flex-column h-100">
    <div class="main-header d-flex justify-content-between align-items-center">
        <div @onclick="BackToLogin">
            <img src="images/logo.png" alt="">
       </div>
       <div class="d-flex align-items-center gap-3">
           <div class="d-flex flex-column align-items-center">
               <p class="mb-0">icon</p>
               <p class="mb-0">Megha</p>
           </div>
            <div class="d-flex flex-column align-items-center">
                <p class="mb-0">icon</p>
                <p class="mb-0">Logout</p>
            </div>
       </div>
    </div>
    <div class="main-bg flex-grow-1">
        <div class="d-flex flex-column align-items-center mt-5">
            <div class="store-card-main">
                <div class="mb-2">Go Back</div>
                <div class="p-3 store-card">
                    <p class="mb-3 fw-bolder">Select store</p>
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex justify-content-between align-items-center store-card-item p-2">
                            <p>202 - Alexandria McEvoy</p>
                            <p>arrow</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-2">
                            <p>202 - Alexandria McEvoy</p>
                            <p>arrow</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-2">
                            <p>202 - Alexandria McEvoy</p>
                            <p>arrow</p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-2">
                            <p>202 - Alexandria McEvoy</p>
                            <p>arrow</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer d-flex align-items-center justify-content-center">
        <img src="images/footer-img.png" alt="">
    </div>
</div>
@code {
    private void BackToLogin()
    {
        NavigationManager.NavigateTo("/");
    }
}
