@page "/home"
@inject NavigationManager NavigationManager

<div class="d-flex flex-column h-100">
    <Header></Header>
    <div class="main-bg flex-grow-1">
        <div class="d-flex flex-column align-items-center mt-5">
            <div class="store-card-main">
                <div class="mb-2 ps-2" style="color:#007FC3;font-weight:600;font-size:18px;" @onclick="BackToLogin"><img src="/_content/Root/icons/left_arrow.png" alt=""> Go Back</div>
                <div class="p-3 store-card" >
                    <p class="mb-3 fw-bold" style="font-size:20px;">Select store</p>
                    <div class="d-flex flex-column gap-3">
                        <div class="d-flex justify-content-between align-items-center store-card-item p-3">
                            <p>202 - Alexandria McEvoy</p>
                            <p><img src="/_content/Root/icons/right_arrow.png" alt=""></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-3">
                            <p>204 - Chatswood</p>
                            <p><img src="/_content/Root/icons/right_arrow.png" alt=""></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-3">
                            <p>206 - Penrith Coreen Ave</p>
                            <p><img src="/_content/Root/icons/right_arrow.png" alt=""></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-3">
                            <p>302 - Cairns</p>
                            <p><img src="/_content/Root/icons/right_arrow.png" alt=""></p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center store-card-item p-3">
                            <p>637 - harmony new store</p>
                            <p><img src="/_content/Root/icons/right_arrow.png" alt=""></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer d-flex align-items-center justify-content-center">
        <img src="/_content/Root/images/footer-img.png" alt="">
    </div>
</div>
@code {
    private void BackToLogin()
    {
        NavigationManager.NavigateTo("/");
    }
}
