@page "/"
@inject NavigationManager NavigationManager


<div class="login-main row h-100 container-fluid p-0 m-0">
    <div class="col-lg-7 bg-yellow d-none d-lg-block p-5 login-left-main">
        <div>
            <p class="login-left-head w-50">
                Putting more care in pet care !!
            </p>
        </div>
    </div>
    <div class="col-lg-5 d-flex justify-content-center align-items-center login-form-main">
        <div class="login-form-box w-100 bg-white">
            <div class="login-header">
                <img src="images/logo.png" alt="">
            </div>
            <div class="login-title">
                <h2>Welcome Back</h2>
                <p>Enter your details to Login</p>
            </div>
            <div class="login-form px-4 d-flex flex-column gap-4">
                <div>
                    <label for="userName" class="mb-2">Username</label>
                    <input type="text" class="form-control form-control-lg" id="userName" placeholder="Enter your username">
                </div>
                <div >
                    <label for="password" class="mb-2">Password</label>
                    <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn w-100 mb-4 py-3 login-btn" @onclick="HandleLogin">Login</button>
            </div>
        </div>
    </div>
</div>

@code {
    private void HandleLogin()
    {
        NavigationManager.NavigateTo("/home");
    }
}
